.canvas {
    width: 100%;
    height: 100%;

}

body{
    --area-from-top: 80px;
    --area-on-right: 15%;
    margin: 0;
    padding: 0;
}

/*Upper Component area*/
.componentsBar {
    background-color: #1f1f1f;
    position: fixed;
    width: inherit;
    height: var(--area-from-top);
    display: inline;
}

/*Our palette with components*/
.componentButtons {
    height: 50px;
    width: 35%;
    top: 15px;
    left: 3%;
    position: absolute;
    float:left;
}

/*short introduction of components*/
.componentIntroduction{
    position: absolute;
    margin-left: 38%;
}

.componentsBar .componentIntroduction h2,.componentsBar .componentIntroduction p {
    color: lightsalmon;
    font-family: Arial;
    line-height:80%;
    margin-bottom: 0.5%;
}


/*Options Area on the right side*/
* {
    box-sizing: border-box;
}


.optionsBar{
    background-color: #1f1f1f;
    position: fixed;
    width: var(--area-on-right);
    height: 150%;
    right:0;
}

/*save, load and new*/
.actionButtons {
    top:var(--area-from-top);
    width: 100%;
    position: absolute;
}

.actionButton input[type=button], .actionButton input[type=file] {
    width: 100%;
    font-size: 120%;
    color: salmon;
    border: 1px solid #1f1f1f;
    background-color: #0e0e0e;
}


.actionButton input[type=button]:hover, .actionButton input[type=file]:hover{
    border: 1px solid salmon;
}

.optionsBar  p, h4, h3 {
    color: #ffecde;
    font-family: Arial;
    font-weight: 100;
    margin: 2%;
}

/*#custom-handle {*/
    /*width: 35px;*/
    /*height: 25px;*/
    /*text-align: center;*/
    /*line-height: 1.6em;*/
    /*border: none;*/
/*}*/

/*#slider {*/
    /*width: 70%;*/
    /*top: 20px;*/
    /*left: 10%;*/
/*}*/

.tabcontent input[type=number] {
    width: 70px;
    height: 30px;
    font-size: 100%;
    float:right;
    text-align: center;
    border-radius: 3px;
    color: #1f1f1f;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

/*Button to update global settings, delete or update component*/
.DelSaveBtn{
    position: static;
    margin-top:20%;
    margin-right:2px;
    color: #1f1f1f;
    background-color: lightsalmon;
    border: none;
    float: right;
    height: 30px;
    width: 35%;
}

.DelSaveBtn:hover{
 border: 1px solid lightgrey;
}


/*spinner for global settings*/
#global #spinner {
    width: 50px;
    height: 20px;
}

/*drawing area*/

.drawingArea {
    position: fixed; /*absolute to scroll*/
    width: 85%;
    height: 100%;
    top: var(--area-from-top);
    background-color: lightgrey;

}


/* 'current' and 'global' tabs*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #0e0e0e;
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: salmon;
    font-size: 120%;
    font-family: Arial;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.tab li a:hover {background-color: #2b2b2b;}

ul.tab li a:focus, .active {
    background-color: #1f1f1f;
    border: 1px solid salmon;
    border-bottom: none;
    color: salmon;
    font-family: Arial;
}

.tabcontent {
    padding: 6px 12px;
    border: none;
}


