<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript" src="Part.js"></script>
    <script type="text/javascript" src="Component.js"></script>
    <script type="text/javascript" src="Pump.js"></script>
    <script type="text/javascript" src="Splitter.js"></script>
    <script type="text/javascript" src="Adjustable Splitter.js"></script>
    <script type="text/javascript" src="Merger.js"></script>
    <script type="text/javascript" src="Sink.js"></script>
    <script type="text/javascript" src="Pipeline.js"></script>

</head>
<body>

</body>
</html>